<br />
<h4 class="d-flex justify-content-center">Points Table of Super Cricket 2019 tournament</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of pointsTableHeader">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pointsTableData">
      <th scope="row">{{data["#"]}}</th>
      <td>{{data["Team"]}}</td>
      <td>{{data["Matches"]}}</td>
      <td>{{data["Won"]}}</td>
      <td>{{data["Lost"]}}</td>
      <td>{{data["NRR"]}}</td>
      <td>{{data["For"]}}</td>
      <td>{{data["Against"]}}</td>
      <td>{{data["Pts"]}}</td>
    </tr>
  </tbody>
</table>

<br />

<div class="card text-center">
  <div class="text-white bg-primary">
    Calculate NRR
  </div>
  <div class="card-body">
    <form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">

      <div class="form-group row d-flex justify-content-center">
        <label class="col-sm-2 col-form-label" for="team" >Playing Team</label>
        <select class="col-sm-4" aria-label="Select Team" formControlName="playingTeam" (change)="playingTeamSelected($event)">
          <option *ngFor="let data of pointsTableData" [ngValue]="data">{{data["Team"]}}</option>
        </select>
      </div>
      <br />

      <div *ngIf="displayOtherFields">
      <div class="form-group row d-flex justify-content-center">
        <label class="col-sm-2 col-form-label" for="team" >Opposition Team</label>
        <select class="col-sm-4" aria-label="Select Team" formControlName="oppositionTeam">
          <ng-container *ngFor="let data of pointsTableData">
            <option *ngIf="mainTeamSelected !== data['Team']" [ngValue]="data">{{data["Team"]}}</option>
          </ng-container>
        </select>
      </div>
      <br />

      <div class="form-group row d-flex justify-content-center">
        <label class="col-sm-2 col-form-label" for="overs">Overs</label>
        <input required class="col-sm-4" min="0" type="number" id="overs" 
          (keypress)="oversValidator($event)" name="overs" formControlName="overs">
      </div>
      <br />

      <div class="form-group row d-flex justify-content-center">
        <label class="col-sm-2 col-form-label" for="oversFaced">Desired Position</label>
        <select class="col-sm-4" aria-label="Select Team" formControlName="position">
          <ng-container *ngFor="let data of pointsTableData;  let i = index">
            <option *ngIf="currentPosition > data['#']"  [ngValue]="data['#'] - 2">{{data['#']}}</option>
          </ng-container>
        </select>
      </div>
      <br />

      <div class="form-group row d-flex justify-content-center">
        <label class="col-sm-2 col-form-label" for="runsConceded">Batting First</label>
          <select class="col-sm-4" aria-label="Select Team" formControlName="battingBowling">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
      </div>
      <br />

      <div class="form-group row d-flex justify-content-center">
        <label class="col-sm-2 col-form-label" for="runsToScore">Runs To Score/Chase</label>
        <input required class="col-sm-4" min="0" (keydown)="runsValidator($event)" 
          type="number" id="runsToScore" name="runsToScore" formControlName="runsToScore">
      </div>
      <br />

      <div class="form-group row d-flex justify-content-center">
        <button type="submit" class="btn btn-primary col-sm-2" [disabled]="!calculatorForm.valid || isFormSubmitted">Calculate</button> &nbsp;&nbsp;
        <button type="reset" class="btn btn-info col-sm-2" (click)="resetTheForm()" [disabled]="calculatorForm.pristine">Reset</button>
      </div>
      <br />
    </div>
    </form>
  </div>
  <div *ngIf="calculatorForm.valid" class="card-footer text-muted d-flex justify-content-center">
     <h3>{{answer}}</h3>
  </div>
</div>